server   = 'irc.newnet.net'
port     = 6667
nick     = 'Page'
user     = 'Page'
name     = 'https://github.com/JosephCrowe/page-ircbot'
channels = ['#Page']
plugins  = ['runtime', 'message', 'nickserv', 'auth', 'control', 'channel',
            'tell', 'url']
